In [28]:
%load_ext autoreload
%autoreload 2
from mysqlfile import database #importing class from my file

In [3]:
db=database() #creating an object

In [12]:
#Student details 

r=int(input('Enter roll: '))
n=input('Enter name: ')
s=input('Enter std: ')
d=input('Enter DoB: ')
g=input('Enter Gender: ')

Enter roll: 3
Enter name: Rachel
Enter std: 12th
Enter DoB: 13/01/01
Enter Gender: Female

In [13]:
#inserting details
db.insert_details(r,n,s,d,g)

In [25]:
#student marks

r=int(input('Enter Roll number: '))
m=int(input('Enter maths marks: '))
c=int(input('Enter chemistry marks: '))
p=int(input('Enter physics marks: '))

Enter Roll number: 2
Enter maths marks: 55
Enter chemistry marks: 43
Enter physics marks: 40

In [26]:
#inserting marks 
db.enter_marks(r,m,c,p)

In [27]:
cur=db.view_details()
for i in cur.fetchall():
    print(i)
    
#fetching all the details

(1, 'cody', '12th', '12/12/01', 'Male')
(2, 'Zack', '12th', '23/06/01', 'Male')
(3, 'Rachel', '12th', '13/01/01', 'Female')

In [29]:
cur=db.view_marks()
for i in cur.fetchall():
    print(i)

#fetching all the marks

(78, 75, 90, 1)
(55, 43, 40, 2)
(90, 85, 97, 3)

In [30]:
cur=db.join()
for i in cur.fetchall():
    print(i) #phy,chem,maths

#fetching all the joined details

('cody', '12th', 'Male', 90, 75, 78)
('Zack', '12th', 'Male', 40, 43, 55)
('Rachel', '12th', 'Female', 97, 85, 90)